duplicate_workspace_backup=false
device_detect_more_detail=false
check_hang_test=false
check_invalid_reservation_device=true
hang_test_timeout=600000
enable_httpserver=true
enable_plugin=false
disable_hostname=false
ft_channels={'channels':[{'priority':0,'id':'SOCKET'},{'priority':1,'id':'FTP','properties':{'user':'ftpuser','pwd':'ali88','host':'slm.alipay.net'}}]}
device_detect_interval=60000
default_attributes={'owner':'peiyang.wy'}
test_folder_keep_days=7