[
	{'id':'BROKER_TASK','uri':'tcp://ali-78624m.hz.ali.com:61616','mq':'ActiveMQ'},
	{'id':'BROKER_STATUS','uri':'tcp://ali-78624m.hz.ali.com:61616','mq':'ActiveMQ'},
	{'id':'BROKER_FT','uri':'tcp://ali-78624m.hz.ali.com:61616','mq':'ActiveMQ'},
	{'id':'BROKER_NOTIFICATION','uri':'tcp://ali-78624m.hz.ali.com:61616','mq':'ActiveMQ'}
]